@import "../../assets/styles/mixins";
@import "../../assets/styles/palette";

.wrapper {

  @include device-desktop {
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
  }
}
