@import "../../assets/styles/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @include device-desktop {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;

  }  
}

.container {
  margin: 10px;
  padding: 10px;
  border: 1px solid $color-black;

  @include device-desktop {
    width: 22%
  }
}
